.newletter1 {
  background-color: #1eb2a6;
  padding: 50px 0;
  color: #fff;
}
.newletter1 .right,
.newletter1 .left {
  padding-right: 50px;
}
.newletter1 h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.newletter1 .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newletter1 input {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  height: 30px;
}
.newletter1 i {
  padding: 12px;
  color: #1eb2a6;
  background-color: #fff;
}
.legal {
  text-align: center;
  padding: 50px 0;
  color: grey;
  background-color: #e9e9e9;
}
.legal p {
  font-size: 15px;
}
.legal i {
  color: #1eb2a6;
}

/* Basic styling for the entire footer */
.footer {
  background-color: whitesmoke;
  color: #1eb2a6;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Styling for individual footer sections */
.top-categories,
.social-media,
.quick-links,
.address,
.connect-with-us {
  flex: 1;
  margin: 10px;
}

.hey {
  font-size: 28px;
  color: rgb(129, 0, 0);
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}
.social-media a{
  display: block;
    font-weight: bold;
}
a {
  color: #1eb2a6;
  text-decoration: none;
  margin-bottom: 10px !important;
}

/* Styling for buttons in the "Top Categories" section */
.top-categories button {
  background-color: #1eb2a6;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 5px 0; /* Add vertical spacing between buttons */
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.top-categories button:hover {
  background-color: #007a7a;
}

/* Styling for the "Connect with Us" section */
.connect-with-us p {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

/* Styling for the "Quick Links" section */
.quick-links a {
  display: block; /* Display links one after another */
  margin: 5px 0; /* Add vertical spacing between links */
  color:#1eb2a6;
  font-weight: bold;
  text-decoration: none;
}

/* CSS for the popup */
.popup {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px 40px;
  z-index: 999;
}

.popup-content {
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

/* Center the dropdowns and button inside the popup */
.dropdowns {
  text-align: center;
  margin: 20px 0;
}

/* Style the select elements and search button */
#city-dropdown,
#category-dropdown,
#search-button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

#search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#search-button:hover {
  background-color: #0056b3;
}
